In [28]:
from astroquery.gama import GAMA
import pandas as pd
import numpy as np

In [42]:
result = GAMA.query_sql('SELECT CATAID, SPECID, SURVEY, RA, DEC FROM SpecAll')

In [32]:
print(result.columns.values)

<bound method TableColumns.values of <TableColumns names=('SPECID','SURVEY','RA','DEC')>>

In [33]:
print (len(result))

214624

In [45]:
results_pd = pd.DataFrame(np.column_stack((result["CATAID"], result["SPECID"],result["RA"],result["DEC"],result["SURVEY"])),columns=["CATAID","SPECID","RA","DEC","SURVEY"])

In [46]:
results_pd

,CATAID,SPECID,RA,DEC,SURVEY
0,491457,1030358159811700736,211.73487,-1.59471,SDSS
1,460298,1030358434689607680,211.51452,-1.65754,SDSS
2,460345,1030358984445421568,211.78462,-1.71899,SDSS
3,484623,1030359809079142400,211.63878,-1.93563,SDSS
4,484637,1030360358834956288,211.79006,-1.89456,SDSS
...,...,...,...,...,...
214619,620092,W150697,223.22713,0.29123,WiggleZ
214620,364141,W150895,223.2887,2.48404,WiggleZ
214621,772336,W151017,223.32626,0.52427,WiggleZ
214622,513335,W151276,223.40312,-1.10237,WiggleZ
214623,4008278,W151449,223.46067,0.45948,WiggleZ

In [47]:
results_pd.to_csv('gama_ids.csv', index=False,header=True)